<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang - Datakerja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="https://www.bpjsketenagakerjaan.go.id/images/logo-bpjs.png" alt="Logo BPJS" class="logo">
        <nav>
    <a href="/">Home</a>
    <a href="/search">Cari Data</a>
    <a href="/upload">Upload File Baru</a>
</nav>
    </header>
    <main class="home-main">
        <div class="welcome-text">
            <h1>SELAMAT DATANG</h1>
            <h2>DI DATAKERJA</h2>
            <p>Terdaftar atau belum terdaftar? Cek saja di sini.</p>
            <p>Pastikan pekerja anda sudah mempunyai aplikasi JMO.</p>
        </div>
        <div class="image-container">
            </div>
    </main>
</body>
</html>